
/*
    << ESTRUCTURA DE ESTILOS >>

    # General
    # Header
        ## Header - Menu Button
        ## Header - Logo Banco Nacion
        ## Header - Search and user
            ### Header - Search and user - Searcher
            ### Header - Search and user - User
    # Main Menu
    # Main Content
    # User Menu

    << Link de gama de colores usada. Incluidos datos de accesibilidad >>
    https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=263238
*/

/* General */

html{
    display: flex;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    /* Variables */
    --primary-color: #263238;
    --primary-color-light: #4f5b62;
    --primary-color-dark: #000a12;
    --text-on-primary: #ffffff;
    --secondary-color: #bbdefb;
    --secondary-color-light: #eeffff;
    --secondary-color-dark: #8aacc8;
    --text-on-secondary: #000000;
}

p{
    margin: 0;
}

* {
    font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
}

a{
    text-decoration: none;
}

h1{
    color: var(--text-on-secondary);
}

/* Header */

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background: var(--primary-color);
    position: fixed;
    width: 100%;
    top: 0;
}

/* Header - Menu Button */

#menu-button{
    border-radius: 2px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--primary-color-light);
    padding: 5px;
    height: 30px;
    background-color: transparent;
    color: var(--text-on-primary);
}

#menu-button:hover{
    cursor: pointer;
    background-color: var(--primary-color-light);
    color: var(--text-on-primary);
    border-color: var(--primary-color-light);
}

#menu-button:focus{
    background-color: var(--primary-color-light);
    color: var(--text-on-primary);
    border-color: var(--primary-color-light);
}

/* Header - Logo Banco Nacion */

#banco-nacion{
    margin-left: 5px;
    font-size: 32px;
    color: var(--text-on-primary);
    margin: 0px 0px 0px 5px;
    font-family: "Times New Roman", Times, serif;
}

#logo-banco-nacion{
    display: flex;
}

#logo-banco{
    height: 32px;
    width: 32px;
}

/* Header - Search and user */

#search-and-user{
    display: flex;
}

/* Header - Search and user - Searcher */

#searcher{
    display: flex;
    align-items: center;
    padding: 2px;
    background-color: var(--primary-color-light);
    border-radius: 2px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--primary-color-light);
}

#input-search{
    flex: 1;
    border: none;
    height: 25px;
    border-radius: 2px;
    background-color: var(--primary-color-light);
}

#button-search{
    display: flex;
    flex: 1;
    border: none;
    background-color: var(--primary-color-light);
}

#button-search{
    cursor: pointer;
}

#button-search:focus{
    outline: 2px solid var(--secondary-color-dark);
}

#mag-img{
    height: 20px;
    width: 20px;
}

/* Header - Search and user - User */

#user{
    display: flex;
    align-items: center;
    border: 0;
    margin-left: 15px;
    margin-right: 5px;
    background-color: transparent;
}

#user:hover{
    cursor: pointer;
}

#user-name{
    color: var(--text-on-primary);
    margin-left: 10px;
    margin-right: 5px;
}

#logo-user{
    margin-left: 5px;
    width: 32px;
    height: 32px;
}

/* Main Menu */

#main-menu{
    display: none;
    padding: 2px;
    background-color: var(--primary-color);
    border-right-style: solid;
    border-right-width: 1px;
    overflow-y: auto;
    position: fixed;
    width: 300px;
    margin-top: 47px;
    height: calc(100% - 52px);
}

.menu-title{
    color: var(--text-on-primary);
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: large;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.menu-item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color-light);
    height: 30px;
    border-radius: 2px;
    color: var(--text-on-primary);
    margin-top: 2px;
    margin-bottom: 2px;
    width: 100%;
}

.menu-item:hover{
    background-color: var(--primary-color-dark);
    color: var(--text-on-primary);
}

/* Main Content */

#main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin: 50px 50px 0px 50px;
    padding-bottom: 50px;
}

/* User Menu */

#user-menu{
    display: none;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    right: 0;
    padding: 2px;
    align-items: center;
    flex: 1;
    background-color: var(--primary-color-dark);
    border-left-style: solid;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-bottom-width: 1px;
    margin-top: 47px;
}

#user-title{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-on-primary);
}

.user-item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color-light);
    height: 30px;
    border-radius: 2px;
    color: var(--text-on-primary);
    margin-top: 2px;
    margin-bottom: 2px;
    width: 100%;
}

.user-item:hover{
    background-color: var(--primary-color);
}

/* Campos de formularios */

.btn {
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    padding: 0 16px;
    min-width: 64px;
    height: 36px;
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.2s;
    
    background-color: #429edc;
    color: #ecf0f1;   
}

.cancel {
    background-color: #c01111;
}

.sel {
	background-color: #f0e8e8;
	width: 350px;
	padding: 10px 0px 10px 0;
	font-size: 16px;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid rgba(0,0,0, 0.12);
}

.inp {
    font-size:16px;
    padding:10px 10px 10px 5px;
    /*para que ocupe toda la linea: display:block;*/
    width:300px;
    border:none;
    border-bottom:1px solid #757575;
}

/* Switch sobre checkbox */

.switch {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 30px;
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 3px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
.slider.round {
    border-radius: 30px;
}
  
.slider.round:before {
    border-radius: 50%;
}


/* Responsive */

@media only screen and (max-width: 650px) {
    #logo-banco, #banco-nacion, #user-name{
        display: none;
    }
    #main-content{
        margin: 70px 20px 20px 20px;
    }
  }
