.btn {
    border: none;
    border-radius: 4px;
    padding: 0 16px;
    min-width: 64px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 36px;
    cursor: pointer;
    background-color: #263238;
    color: #ecf0f1;  
}

.cancel {
    background-color: #c01111;
}

.btn-accept{
    background-color: #4CAF50;
}

.sel {
	background-color: #f0e8e8;
	padding: 10px 0px 10px 0;
	font-size: 16px;
	border-radius: 0;
	border: none;
    border-bottom: 1px solid rgba(0,0,0, 0.12);
    width: 100%;
}

.inp {
    font-size:16px;
    padding:10px 10px 10px 5px;
    /*para que ocupe toda la linea: display:block;*/
    width:300px;
    border:none;
    border-bottom:1px solid #757575;
}

/* Switch sobre checkbox */

.switch {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 30px;
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 3px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #000a12;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #000a12;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
.slider.round {
    border-radius: 30px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.fieldset-form{
    display: flex;
    padding-top: 15px;
    min-width: 450px;
}

.container-buttons-form{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.label-and-other-form{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
}

.label-form{
    margin-right: 5px;
    white-space: nowrap;
}

form{
    min-width: 350px;
}

.p-form{
    margin-bottom: 10px;
}

.button-cuenta-form{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
}