/*
    << ESTRUCTURA DE ESTILOS >>

    # General
    # Header
        ## Header - Menu Button
        ## Header - Logo Banco Nacion
        ## Header - Search and user
            ### Header - Search and user - Searcher
            ### Header - Search and user - User
    # Main Menu
    # Main Content
    # User Menu

    << Link de gama de colores usada. Incluidos datos de accesibilidad >>
    https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=263238
*/

/* General */

html{
    display: flex;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    /* Variables */
    --primary-color: #263238;
    --primary-color-light: #4f5b62;
    --primary-color-dark: #000a12;
    --text-on-primary: #ffffff;
    --secondary-color: #bbdefb;
    --secondary-color-light: #eeffff;
    --secondary-color-dark: #8aacc8;
    --text-on-secondary: #000000;
    background-color: #F5F5FF;
}

p{
    margin: 0;
}

* {
    font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
}

a{
    text-decoration: none;
}

h1{
    color: var(--text-on-secondary);
}

/* Header */

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background: var(--primary-color);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99999;
}

/* Header - Menu Button */

#menu-button{
    border-radius: 2px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--primary-color-light);
    padding: 5px;
    height: 30px;
    background-color: transparent;
    color: var(--text-on-primary);
}

#menu-button:hover{
    cursor: pointer;
    background-color: var(--primary-color-light);
    color: var(--text-on-primary);
    border-color: var(--primary-color-light);
}

#menu-button:focus{
    background-color: var(--primary-color-light);
    color: var(--text-on-primary);
    border-color: var(--primary-color-light);
}

/* Header - Logo Banco Nacion */

#banco-nacion{
    margin-left: 5px;
    font-size: 32px;
    color: var(--text-on-primary);
    margin: 0px 0px 0px 5px;
    font-family: "Times New Roman", Times, serif;
}

#logo-banco-nacion{
    display: flex;
}

#logo-banco{
    height: 32px;
    width: 32px;
}

/* Header - Search and user */

#search-and-user{
    display: flex;
}

/* Header - Search and user - Searcher */

#searcher{
    display: flex;
    align-items: center;
    padding: 2px;
    border-radius: 2px;
    border-width: 2px;
    border-style: solid;
    background-color: var(--text-on-primary);
}

#input-search{
    flex: 1;
    border: none;
    height: 25px;
    border-radius: 2px;
    background-color: var(--text-on-primary);
}

#button-search{
    display: flex;
    flex: 1;
    border: none;
    background-color: var(--text-on-primary);
}

#button-search{
    cursor: pointer;
}

#button-search:focus{
    outline: 2px solid var(--secondary-color-dark);
}

#mag-img{
    height: 20px;
    width: 20px;
}

/* Header - Search and user - User */

#user{
    display: flex;
    align-items: center;
    border: 0;
    margin-left: 15px;
    margin-right: 5px;
    background-color: transparent;
}

#user:hover{
    cursor: pointer;
}

#user-name{
    color: var(--text-on-primary);
    margin-left: 10px;
    margin-right: 5px;
}

#logo-user{
    margin-left: 5px;
    width: 32px;
    height: 32px;
}

/* Main Menu */

#main-menu{
    display: none;
    padding: 2px;
    background-color: var(--primary-color);
    overflow-y: auto;
    position: fixed;
    width: 300px;
    margin-top: 47px;
    height: calc(100% - 52px);
    -webkit-box-shadow: 1px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 0px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 0px 2px 0px rgba(0,0,0,0.75);
}

.menu-title{
    color: var(--text-on-primary);
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: large;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.menu-item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color-light);
    height: 30px;
    border-radius: 2px;
    color: var(--text-on-primary);
    margin-top: 2px;
    margin-bottom: 2px;
    width: 100%;
}

.menu-item:hover{
    background-color: var(--primary-color-dark);
    color: var(--text-on-primary);
}

/* Main Content */

#main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin: 0px 150px 0px 150px;
    padding: 50px 20px 50px 20px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.75);
}

/* User Menu */

#user-menu{
    display: none;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    right: 0;
    padding: 2px;
    align-items: center;
    flex: 1;
    background-color: var(--primary-color);
    border-left-style: solid;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-bottom-width: 1px;
    margin-top: 47px;
}

#user-title{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-on-primary);
}

.user-item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color-light);
    height: 30px;
    border-radius: 2px;
    color: var(--text-on-primary);
    margin-top: 2px;
    margin-bottom: 2px;
    width: 100%;
}

.user-item:hover{
    background-color: var(--primary-color);
}

/* Responsive */

@media only screen and (max-width: 650px) {
    #logo-banco, #banco-nacion, #user-name{
        display: none;
    }
    #main-content{
        margin: 70px 20px 20px 20px;
    }
  }
